.card {
    display: flex;
    width: 400px;
    margin: 20px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img-top {
    height: 250px;
    object-fit: contain;
}

#addProductForm {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#deleteProductForm {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#labelAddForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

label {
    padding: 10px
}

#productForm {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    flex-wrap: wrap;
}