<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Confirmation</title>
</head>
<body>
    <h1>Revisa tu correo</h1>
    <p>Se ha enviado un correo electrónico a tu dirección de correo electrónico registrada. Por favor, sigue las instrucciones en el correo electrónico para restablecer tu contraseña.</p>
</body>
</html>
