

/*products*/

.body {
    max-width: 100% ;
}

/*realtimerproduct*/

#addProductForm {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#deleteProductForm {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#labelAddForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

label {
    padding: 10px
}

#productForm {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    flex-wrap: wrap;
}

/*profile*/

.profile-image {
    height: 250px;
    width: 250px;
}

#profile {
    display: flex;
}
#profile-img {
    display: flex;
}

#profile-greeting {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/*users*/

#back-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}

/*navbar*/

.navbar-custom {
    background-color: #638dd7; 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; 
}

.navbar-custom .nav-link:hover {
    color: #ffffff; 
}

.nav-link {
    font-weight: bold;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Montserrat', sans-serif;
    
}

span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: larger
}

/* buttons */

.btn-primary {
    font-weight: bold !important;
    background-color: #638dd7 !important;
    border-color: #007bff !important;
}

.btn-danger {
    font-weight: bold !important;
    background-color: #dc3545 !important;
    border-color: #c9302c !important;
}

.btn-warning {
    font-weight: bold !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.btn-secondary {
    font-weight: bold !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-success {
    font-weight: bold !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}